<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to 99 Cats!  </h1>
    <o>Hello <%= @user.username %>, <br>
    We hope you enjoy your feline experiences to the fullest!</p>
  </body>
</html>
